.App {
  text-align: center;
}

.todo-box {
  width: 600px;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f1f0f0;
  margin: 30px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.todo-header {
  width: 100%;
  padding: 12px;
  display: flex;
  justify-content: space-between;
}


.todo-body {
  width: 100%;
}
.todo-body-header{
  display: flex;
  justify-content: space-between;
}